html
    head
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(name='description', content='recover friendChatPage')
        meta(name='author', content='2014 recover')
        link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
        title
            | Recover
        link(href='/stylesheets/welcome.css', rel='stylesheet', type='text/css')
    body
        #title
            | #{user.id}
            br
            | #{user.username}
            br
            | #{user.displayName}
            br
            img(src = '#{user.photos[0]}')

