html
    head
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(name='description', content='recover welcomePage')
        meta(name='author', content='2014 recover')
        link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
        title
            | Recover
        link(href='/stylesheets/initUser.css', rel='stylesheet', type='text/css')
    body
        #title
            img(src='/images/recover_smallLogo.png')
        #loadingGif
            img(src='/images/loading.gif')
        #loadingText
            img(src='/images/matching.png')
        #randomChat(onclick = 'location.href=\'/randomChat\';')
            img(src='/images/goRandomChat.png')
        #userId
            | #{user.id}
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
        script(src='/javascripts/initUser.js')
        script(src='/javascripts/googleAnalytics.js')