html
    head
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(name='description', content='recover welcomePage')
        meta(name='author', content='2014 recover')
        link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
        title
            | Recover
        link(href='/stylesheets/welcome.css', rel='stylesheet', type='text/css')
    body
        #title
            img(src='/images/title.png')
        #facebookLogin(onclick = 'location.href=\'/auth/facebook\';')
            img(src='/images/facebookButton.png')
        #contact(onclick = 'location.href=\'/contact/login\';')
            img(src='/images/contact.png')
        #right
            img(src='/images/right.png')
        script(src='/javascripts/googleAnalytics.js')