body {
    padding: 10px;
    background-color: #2b2b2b;
}

#logo {
    position: absolute;
    left: 50%;
    margin: -4px 0 0 -71px;
    cursor: pointer;
    z-index: 2;
}

#logo img {
    width: 140px;
    height: 42px;
}

#chatServiceStatus {
    position: absolute;
    width : 500px;
    height: 50px;
    left: 50%;
    margin: 54px 0 0 -251px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
}

#userPic img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 7px 0 0 14px;
    background-color: #00B7FF;
    float: left;
}

#userName {
    width: 120px;
    height: 36px;
    margin : 7px 0 0 14px;
    text-align: left;
    line-height: 36px;
    font-weight: 700;
    color: #2b2b2b;
    overflow: hidden;
    float: left;
}

#chatContainer {
    position: relative;
    width: 500px;
    min-height: 300px;
    background-color: #d8d8d8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 50%;
    margin: 116px 0 30px -251px;
    z-index: 2;
    overflow: hidden;
}

#connectionStatus {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #4a7280;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    left: 50%;
    margin: 0 0 0 -250px;
    text-align: center;
    color: #c9c9c9;
    line-height: 30px;
    font-size: 14px;
    z-index: 3;
    display: none;
}

#chatScroller {
    position: relative;
    width : 100%;
    min-height: 260px;
    overflow: hidden;
}

#messages {
    position: absolute;
    width: 485px;
    height: 100%;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: 10px 30px 0 13px;
}

.myMessage {
    min-height: 36px;
    width: 473px;
    text-align: right;
    margin: 0 0 10px 0;
    color : #2b2b2b;
    overflow: hidden;
}

.myMessage .profile img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: right;
}

.myMessage .block {
    padding: 8px 8px 8px 8px;
    max-width: 373px;
    background-color: #eaeaea;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 6px 0 0;
    line-height: 20px;
    font-size: 15px;
    text-align: left;
    float: right;
    overflow: hidden;
    word-wrap: break-word;
}

.otherMessage {
    min-height: 36px;
    text-align: right;
    margin: 0 0 10px 0;
    color : #2b2b2b;
    overflow: hidden;
}

.otherMessage .profile img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}

.otherMessage .block {
    padding: 8px 8px 8px 8px;
    max-width: 372px;
    background-color: #eaeaea;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 0 6px;
    line-height: 20px;
    font-size: 15px;
    text-align: left;
    float: left;
    overflow: hidden;
    word-wrap: break-word;
}

#info {
    position: relative;
    width: 50%;
    height: 120px;
    margin: 100px auto 0 auto;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #dedede;
    display: none;
    z-index: 2;
    border : 6px solid #717171;
}

#alert {
    display: none;
}

#friendRequest {
    width: 100%;
    height: 40px;
    margin: 0 0 26px 0;
    text-align: center;
    line-height: 62px;
    font-size: 14px;
    color: #6e2021;
    font-weight: 700;
}

#friendRequestAccept {
    width: 40%;
    height: 40px;
    border: 0 solid transparent;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #b2b2b2;
    font-size: 15px;
    color: #3a3b3f;
    font-weight: 700;
    margin: 0 30% 0 30%;
    cursor: pointer;
}

#chatInfo {
    z-index: 2;
    display: block;
}

#chatTimeInfo {
    width: 100%;
    height: 40px;
    margin: 2px 0 26px 0;
    text-align: center;
    line-height: 62px;
    font-size: 18px;
    color: #37383c;
    font-weight: 700;
}

#findFriend {
    width: 34%;
    height: 40px;
    border: 0px solid transparent;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #b2b2b2;
    font-size: 14px;
    color: #3a3b3f;
    font-weight: 700;
    margin: 0 5% 0 11%;
    cursor: pointer;
}

#leaveChat {
    width: 34%;
    height: 40px;
    border: 0px solid transparent;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #b2b2b2;
    font-size: 14px;
    color: #3a3b3f;
    font-weight: 700;
    margin: 0 11% 0 5%;
    cursor: pointer;
}

#chatBar {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 40px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

#chatMenu {
    float: left;
    left: 0%;
    width: 9%;
    height: 40px;
    -webkit-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    background-color: #55AA9F;
    cursor: pointer;
}

#chatMenu img {
    height: 92%;
    width: 90%;
    margin-top: 4%;
    margin-left: 4%;
}

#chatInput {
    float: left;
    width: 74%;
    height: 40px;
    border-color: transparent;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#chatSend {
    float: left;
    width: 17%;
    height: 40px;
    -webkit-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
    text-align: center;
    line-height: 40px;
    background-color: #55AA9F;
    color: #f4f4f4;
    cursor: pointer;
}

#contact {
    position: relative;
    width: 70px;
    left: 50%;
    margin: -15px 0 0 -34px;
    cursor: pointer;
}

#right {
    position: relative;
    width: 220px;
    left: 50%;
    margin: 13px 0 10px -106px;
}