body {
    padding : 30px;
    background-color: #2b2b2b;
}

#title {
    position: absolute;
    left : 50%;
    margin : 40px 0 0 -121px;
}

#title img {
    width: 240px;
    height: 80px;
}

#loadingGif {
    position: absolute;
    left: 50%;
    margin : 180px 0 0 -51px;
}

#loadingGif img {
    width: 100px;
    height: 100px;
}

#loadingText {
    position: absolute;
    left: 50%;
    margin : 340px 0 0 -60px;
}

#randomChat {
    position: absolute;
    left: 50%;
    margin : 460px 0 0 -99px;
    cursor: pointer;
}

#userId {
    display : none;
}